<div class="row">
    <div class="col-xs-12">
        <div class="jumbotron">
            Header
        </div>

    </div>
</div>



<div class="row">
    <div class="col-xs-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <p>Stats</p>
    </div>
  </div>
</div>

    <div class="col-xs-3">
      <div class="panel panel-default">
        <div class="panel-body">
        <p>Feed</p>
      </div>
    </div>
    </div>

    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-body">
        <p>About</p>
      </div>
    </div>
    </div>

</div>

<!-- beginning of row 2 -->

<div class="row">
<div class="col-xs-3 col-xs-offset-9">
  <div class="panel panel-default">
    <div class="panel-body">
    <p>Trends</p>
  </div>
</div>
</div>
</div>
